<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
http://www.springframework.org/schema/context  
http://www.springframework.org/schema/context/spring-context-3.0.xsd">  
    
    <context:component-scan  base-package="com" /> 
    
     
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="prefix" value="WEB-INF/view/" />  
        <property name="suffix" value=".jsp" />  
    </bean>  
    
  
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <property name="maxUploadSize" value="100000000"/>
     </bean>
	
    
   <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
		 <property name="annotatedClasses">
            <list>
            
             <value>com.VO.StaffVO</value>
           	<value>com.VO.DeptVO</value>
           	<value>com.VO.ProjectVO</value>
       		<value>com.VO.ModuleVO</value>
       		<value>com.VO.ModuleVO1</value>
       		<value>com.VO.FormVO</value>
       		<value>com.VO.LoginVO</value>
       		<value>com.VO.AssignProjectVO</value>
       		<value>com.VO.FieldVO</value>
            </list>
        </property>  
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>  	 
</beans>